.container {
  display: grid;
  grid-gap: 5px;    
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 150px 450px 50px;
  grid-template-areas:
      "h h h h h h h h h h h h"
      "m m c c c c c c c c c c"
      "f f f f f f f f f f f f";
    

}

@media screen and (max-width: 640px) {
  .container {
      grid-template-areas:
          "m m m m m m h h h h h h"
          "c c c c c c c c c c c c"
          "f f f f f f f f f f f f";
  }
}

.header {
  grid-area: h;
}

.menu {
  grid-area: m;

}

.content {
  grid-area: c;

}

.footer {
 grid-area: f;

}

button {
  width: 26%;
  background: transparent;
  border: none !important;
  font-size:0;
}

#input1{
  background-color: skyblue;
  padding-left: 5%;
  margin-left: 7%;
  width: 5%;
}

#input2{
  background-color: skyblue;
  padding-left: 5%;
  margin-left: 16%;
  width: 5%;
}

#input3{
  background-color: skyblue;
  padding-left: 5%;
  margin-left: 16%;
  width: 5%;
}

#imgbiscuit{
  position:absolute;
  z-index:-1;
  width: 82%;
  height: 450px;
}

#imgmenu{
	position:absolute;
  z-index:-1;
  width: 16%;
  height: 450px;
}

#imgbanner{
  position:absolute;
  z-index:-1;
  width: 98.5%;
  height: 150px;
}

#salada{	
  width: 100%;
  height: 150px;
}
#buttonSalada{
	margin-left: 16%;
  width:50%;
  height: 150px;
}

#inputSalada{
	margin-left: 35%;
  width:15%;
  
}

#chocolate{	
  width: 100%;
  height: 150px;
}
#buttonChocolate{
	margin-left: 16%;
  width:50%;
  height: 150px;
}

#inputChocolate{
	margin-left: 20%;
  width:40%;
  
}

#imgFooter{
  width:99.5%;
  height: 50px;
  
}