#principal{
	width:100%;
	height:420px;
	margin-top:7%;
	background-color:silver;
}

#uno{
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	margin-top:5%;
	float: left;
	margin-left:6.2%;
	border: 1px solid black;
	width:17%;
	height:300px;
	background-color:red;
}

#dos{
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	margin-top:5%;
	float: left;
	margin-left:6.2%;
	border: 1px solid black;
	width:17%;
	height:300px;
	background-color:blue;
}

#tres{
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	margin-top:5%;
	float: left;
	margin-left:6.2%;
	border: 1px solid black;
	width:17%;
	height:300px;
	background-color:green;
}

#cuatro{
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	margin-top:5%;
	float: left;
	margin-left:6.2%;
	border: 1px solid black;
	width:17%;
	height:300px;
	background-color:black;
}

#secundario{
	width:100%;
	height:200px;
	background-color:silver;
}

#botonUno{
	margin-right:5%;
	color: yellow;
	margin-top:2%;
	float: left;
	margin-left:11.2%;
	border: 3px solid yellow;
	width:7%;
	height:50px;
	background-color:red;
}

#botonDos{
	margin-right:5%;	
	color: yellow;
	margin-top:2%;
	float: left;
	margin-left:11.2%;
	border: 3px solid yellow;
	width:7%;
	height:50px;
	background-color:blue;
}

#botonTres{	
	margin-right:5%;
	color: yellow;
	margin-top:2%;
	float: left;
	margin-left:11.2%;
	border: 3px solid yellow;
	width:7%;
	height:50px;
	background-color:green;
}

#botonCuatro{
	color: yellow;
	margin-top:2%;
	float: left;
	margin-left:11.2%;
	border: 3px solid yellow;
	width:7%;
	height:50px;
	background-color:black;
}
















